<.live_component module={BloggingWeb.PostLive.FormComponent} id={:create_post}
action={@action} post={@post} changeset={@changeset} user_id={@user_id} html_content={@html_content} title={"New Post"}
 > </.live_component>
